@use '../../styles/breakpoints' as bkp;

.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title{
    margin:2rem auto;
    font-size: 1.5rem;

    @include bkp.min-width-md{
    font-size: 2rem;
    }
}
