@use '../../styles/breakpoints' as bkp;

.blur-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    margin: 4rem auto;

    @include bkp.min-width-md {
        width: 80%;
        backdrop-filter: blur(10px);
        background-color: unset;
        border: 2px solid rgba(81, 72, 72, 0.3);
        border-radius: 25px;
    }
}