.content{
    text-align: center;
}

h1{
    font-size: 2.5rem;
    margin-top: 4rem;
}

h2{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.desc{
    margin-top: 0.2rem;
}

.contact-btn {
    background: linear-gradient(248.86deg, #e56ec996 10.51%, #2eb9c66f 93.41%);
    color: white;
    border: none;
}

.image{
    height:25%;
    width: 25%;
}